
{% load static %}
<!-- {% include 'mainapp/include/nav.html' %} -->
<link rel="stylesheet" type="text/css" href="{% static 'boardapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}">

<script type = "text/javascript">
    function goBack(){
        history.go(-1);
    }
</script>

<div class="container my-3">
    <h2 class="border-bottom py-2">{{ board_list.b_title }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">작성자 : {{ board_list.b_writer }}</div>
        </div>
    </div>
    
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ board_list.b_note }}</div>
            <br><br>
            <div class="card-text" style="white-space: pre-line;"><b>※링크 바로가기</b> : <a href="{{ board_list.b_link }}">{{ board_list.b_link }}</a></div>
            <div class="d-flex justify-content-end">
                <div class="badge p-2" style="background-color: black; color: white;">{{ board_list.b_date }}</div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-dark"; onClick="goBack()">뒤로가기</button>
</div>

