<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sliding Sticky Navigation, Responsive Website Template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../static/apuapuapp/css/search.css">
  <link rel="stylesheet" href="../../static/apuapuapp/css/main.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section id="intro" class="page">
  <div id="intro-title">
    <b>A&nbsp;&nbsp;&nbsp;&nbsp;R E S P O N S I V E&nbsp;&nbsp;&nbsp;&nbsp;L A N D I N G&nbsp;&nbsp;&nbsp;&nbsp;P A G E</b>
    <div class="container">
      <form autocomplete="off">
        <div class="finder">
          <div class="finder__outer">
            <div class="finder__inner">
              <div class="finder__icon" ref="icon"></div>
              <input class="finder__input" type="text" name="q" />
            </div>
          </div>
        </div>
      </form>
  </div>
  </div>
  <div id="intro-description">
    with sticky nav on sliding
  </div>
</section>

<nav>  
  <a class="menu-btn">
    <svg t="1583388234559" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2279" width="16" height="16"><path d="M128 213.34016l768 0q17.67424 0 30.16704 12.4928t12.4928 30.16704-12.4928 30.16704-30.16704 12.4928l-768 0q-17.67424 0-30.16704-12.4928t-12.4928-30.16704 12.4928-30.16704 30.16704-12.4928zM128 725.34016l768 0q17.67424 0 30.16704 12.4928t12.4928 30.16704-12.4928 30.16704-30.16704 12.4928l-768 0q-17.67424 0-30.16704-12.4928t-12.4928-30.16704 12.4928-30.16704 30.16704-12.4928zM128 469.34016l768 0q17.67424 0 30.16704 12.4928t12.4928 30.16704-12.4928 30.16704-30.16704 12.4928l-768 0q-17.67424 0-30.16704-12.4928t-12.4928-30.16704 12.4928-30.16704 30.16704-12.4928z" p-id="2280" fill="#40403F"></path></svg>
  </a>
  <a class="tab placeholder"></a>
  <a class="tab" data-text="Who Are We" href="#one">Who Are We</a>
  <a class="tab" data-text="Why Choose Us" href="#two">Why Choose Us</a>
  <a class="tab" data-text="How It Works" href="#three">How It Works</a>
  <a class="tab" data-text="Customer Reviews" href="#four">Customer Reviews</a>
  <a class="tab" data-text="Login/Register" id="user-btn">Login/Register</a>
</nav>

<a name="one"></a>
<section class="page content-page">  
  <div>
    Who Are We
  </div>
</section>

<a name="two"></a>
<section name="two" class="page content-page">
  <div>
    Why Choose Us
  </div>
</section>

<a name="three"></a>
<section name="three" class="page content-page">
  <div>
    How It Works
  </div>
</section>

<a name="four"></a>
<section name="four" class="page content-page">
  <div>
    Customer Reviews
  </div>
</section>
<!-- partial -->
  <script  src="../../static/apuapuapp/js/main.js"></script>
  <script  src="../../static/apuapuapp/js/search.js"></script>

</body>
</html>
