<!DOCTYPE html>
<head>
    <title>My list</title>
    <link rel="stylesheet" href="../../static/apuapuapp/css/main.css">

    <style>
        a.index{
            color: #40403F;
            text-decoration:none;
            }
    </style>
</head>
<body>
    <section id="intro">
        <div id="intro-title">
            <b>
                <div>
                    <p><br/><a class="index" href="/apu-apu/"> A P U&nbsp;&nbsp;&nbsp;&nbsp;A P U </a></p>
                </div>
            </b>
        </div>
    </section>

    <header>
        <h3> My list</h3>
    </header>
    <main>
        이름 :
        <br/>
        
        < 복용중인약 >
        if 복용중인 약 테이블 땡겨올게 없다면 :
        복용중인 약이 없습니다. 
        보여주기
        <br/>

        < 복용했던 약 >
        if 복용했던 약 테이블 땡겨올게 없다면 :
        복용이력이 없습니다. 
        보여주기

        이것도 양쪽?? 아님 한쪽???
        <br/>
    </main>

    <footer> kepco digeter boot camp finalproject ㅈㅈㅈ - apu_apu </footer>
</body>
</html>